
<!DOCTYPE html>
<html title='SummerForum'>
<meta charset='utf-8' />

<head>
    <h1>Summer Forum Testing</h1>
    <a href='/'><button id="btn_Back" name="btn_Back">Trở lại</button></a>
<!-- 
    <audio id='au_backgoundBGM' loop='infinite' autoplay>
        <source src='musics/playlist0.mp3' type='audio/mpeg' />
    </audio> -->
    <style>
        body {
          padding: 5rem 5rem 10rem;
          line-height: 1.7;
          font-family: 'Nunito Sans', sans-serif;
          color: #555;
          min-height: 100vh;
          background: linear-gradient(to bottom right, #1648ec, #00e3ae);
        }
        .card__title-box {
          margin-right: auto;
          display: flex;
          align-items: center;
          padding: 0 3rem;
        }
      </style>
</head>

<body>

    <div class='div_Main' name='div_Main' id='div_Main'>
        <div class='div_Display' name='div_Display' id='div_Display'>
            <div class='dynamical_div_Textdisplay' name='dynamical_div_Textdisplay' id='dynamical_div_Textdisplay'>
                <p class="dynamical_div_Title">{%POSTTITLE%}</p>
                <p class="dynamical_div_Link">{%POSTLINK%}</p>
                <p id="dynamical_div_Content" class="dynamical_div_Content">{%POSTCONTENT%}</p>
            </div>
        </div>
        </div>
    </div>
    </div>
</body>
<footer>
    <h4>blueseabinhtien@yahoo.com.vn</h4>
</footer>

</html>