<html title='SummerForum'>
<meta charset='utf-8' />

<header>
    <h1>Summer Forum Testing</h1>
    <a href='/'><button id="btn_Back" name="btn_Back">Trở lại</button></a>
<!-- 
    <audio id='au_backgoundBGM' loop='infinite' autoplay>
        <source src='musics/playlist0.mp3' type='audio/mpeg' />
    </audio> -->
</header>

<body>

    <div class='div_Main' name='div_Main' id='div_Main'>
        <div class='div_Display' name='div_Display' id='div_Display'>
            <div class='dynamical_div_Textdisplay' name='dynamical_div_Textdisplay' id='dynamical_div_Textdisplay'>
                <p class="dynamical_div_Title">{%POSTTITLE%}</p>
                <p class="dynamical_div_Link">{%POSTLINK%}</p>
                <p id="dynamical_div_Content" class="dynamical_div_Content">{%POSTCONTENT%}</p>
            </div>
        </div>
        </div>
    </div>
    </div>
</body>
<footer>
    <h4>blueseabinhtien@yahoo.com.vn</h4>
</footer>

</html>